#story-controller {
  position: absolute;
}

#story-controller {
  font-family: 'Public Sans', sans-serif;
}

#story-controller h1 {
  color: #70AC00;
}

#story-controller {
  position: absolute;
  bottom: 25px;
  right: 300px;
  max-width: 800px;
  min-width: 400px;
  /* width: calc(100% - 30px); */
  /* box-sizing: border-box; */
  height: 95px;
}

#story-controller.collapsed {
  height: 50px;
}

.story-controller-timeline-era-anchors {
  visibility: hidden;
}

.story-controller-timeline-era-anchors .visible {
  visibility: visible;
}

#story-controller h1 {
  position: absolute;
  bottom: 10px;
  width: 150px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.1em;
  cursor: pointer;
}

#story-controller-timeline, #story-controller-timeline-era-titles {
  position: absolute;
  left: 0;
  right: 0;
}

#story-controller-timeline {
  bottom: 10px; 
  height: 131px; /* TIMELINE_MARGIN_TOP + TIMELINE_MARGIN_BOTTOM + TIMELINE_HEIGHT */
}

rect.timeline-background {
  fill: white;
  fill-opacity: 0.7;
}

/* Styles for .era-urban-industrial */
.era-urban-industrial rect.timeline-background {
  fill: #a160c1a7;
}

#story-controller-timeline circle {
  cursor: pointer;
}

#story-controller-timeline circle.era {
  fill: black;
}

#story-controller-timeline circle.chapter {
  fill: white;
}

#story-controller-timeline circle:hover {
  fill: green;
}

#story-controller-timeline-era-titles {
  height: 52px;
  top: -20px;
  visibility: hidden;
  /* padding-bottom: 71px; */
}

#story-controller-timeline-era-titles .visible {
  visibility: visible;
}

.story-controller-timeline-era-title-container {
  position: absolute;
  cursor: pointer;
}

.story-controller-timeline-era-title-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 48px;
  width: 80px;
  border: 1px solid #53A3D5;
  border-radius: 10px;
  font-size: 0.60em;
  padding: 1px;
}

#story-controller div.era { 
    display: inline-block;
    border: 1px solid black;
    padding: 1em;  
    margin-right: 5em;
    position:relative
  }
  
  #story-controller div.era:before,
  #story-controller div.era:after
  {
    content:'';
    width:5em;
    border-bottom:1px solid;
    position:absolute;
    top:50%;
  
  }
  :after {
    left:100%;
  }
  :before {
    right:100%;
  }
  #story-controller div.era:first-of-type:before,
  #story-controller div.era:last-of-type:after {
    display:none;
  }


/* Mobile first positioning */

#story-controller {
  left: 25px;
}

@media screen and (min-width: 1200px) {


}